{
  "development": {
    "dialect": "sqlite",
    "storage": "./.db.dev.sqlite"
  },
  "production": {
    "username": "llevents-user",
    "password": null,
    "database": "ll-events",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
